body{
	background: #C6C6E0;
}

a{
	color: inherit;
	text-decoration: none;
}

#page_title{
	width: 100%;
	text-align: center;
	vertical-align: center;
	line-height: 75px;
	font-family: 'Poiret One', cursive;
	font-size: 55px;
}

.wrapper{
	border-color: green;
	border-style: solid;
	position: absolute;
	top: 46%;
  	left: 46%;
  	margin: -300px 0 0 -500px;
	display: grid;
	/*grid-gap: 1rem;*/
	grid-template-columns: repeat(10, 100px);
	grid-template-rows: repeat(6, 100px);
	justify-content: center;
}

.Items{
	border-color: black; 
	border-style: solid;
	z-index: 200;
}

.Photo{
	border-radius: 50%;
	overflow: hidden;
	grid-area: 1/4/4/7;
	}

.Photo img{
	width: 100%;
	height: 100%;
}
/*
.Photo img:hover {
	width: 100%;
	height: 100%;
	-webkit-filter: grayscale(0);
  	filter: grayscale(0);
}*/


.Aruki{
	grid-area: 2/1/5/4;
	grid-column-start: 1;
}

.Resume{
	background: black;
	color: white;
	text-align: center;
	vertical-align: middle;
	font-family: 'Play', sans-serif;
	font-size: 35px;
	line-height: 50px;
	/*width: 170px;
	height: 50px;*/
	align-self: center;
	text-transform: uppercase;
	grid-area: 1/1/2/3;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	text-shadow: 2px 2px 4px #000000;
}

.Resume:hover{
	grid-area: 1/1/2/4;
}

.Other_Coding_Projects{
	grid-area: 5/1/7/4;
}

.Film_Projects{

}

.Personal_Blog img{
	max-height: 100%;
	max-width: 100%;
}

img{
	max-height: 100%;
	max-width: 100%;
	-webkit-filter: grayscale(1);
  	filter: grayscale(1);
}

img:hover{
	-webkit-filter: grayscale(0);
  	filter: grayscale(0);
}

.Site_Map{
	position: absolute;
	bottom: 0px;
	left: 0px;
	border-color: blue;
	border-style: solid;
	display: block;
	width: 100%;
	height: 50px;
	text-align: center;
}

.personal{
	display: inline-block;
	
}