body{
	background: #C6C6E0;
}

a{
	color: inherit;
	text-decoration: none;
}

.left_pane{
	position: fixed;
	min-width: 109px;
	height:100%;
	top:0;
	left:0;
}

.right_pane{
	position: fixed;
	min-width: 109px;
	height:100%;
	top:0;
	right:0;
}

.wrapper{
	position: relative;
	margin-right: auto;
	margin-left: auto; 
	margin-top: 70px; 
	display: grid;
	grid-gap: .5rem;
	grid-template-columns: repeat(7, 100px) 30px repeat(4, 100px);
	grid-template-rows: repeat(6, 100px) 22px;
	justify-content: center;
}
/*
.Items{
	border-color: black; 
	border-style: solid;

}*/

#page_title{
	width: 100%;
	text-align: center;
	vertical-align: center;
	line-height: 75px;
	font-family: 'Poiret One', cursive;
	font-size: 55px;
	grid-area: 1/3/2/11;
}


.FoxPirate{
	grid-area: 1/11/2/11;
}

.Resume, .Other_Coding_Projects, .Aruki, .Film_Writing, .Film_Projects, .Personal_Blog, .Photo{
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	position: relative;
}

.Contact{
	padding-top: 10px;
	padding-left: 80px;
	grid-area: 5/5/5/8;
}

.personal{
	padding-left: 5px;
	height: 30px;
	width: 30px;
	display: inline-block;
}

.Photo{
	margin-left: 20px; 
	margin-right: 20px;
	border-radius: 50%;
	overflow: hidden;
	grid-area: 2/5/5/9;
	}

.Photo img{
	width: 100%;
	height: 100%;
}

.Aruki{
	grid-area: 3/1/5/5;
	overflow: hidden;
}

.Resume:hover{
	grid-area: 1/1/2/4;
}

.Resume{
	background: black;
	color: white;
	text-align: center;
	vertical-align: middle;
	font-family: 'Play', sans-serif;
	font-size: 35px;
	line-height: 50px;
	align-self: center;
	text-transform: uppercase;
	grid-area: 1/1/2/3;
	text-shadow: 2px 2px 4px #000000;
}

.Other_Coding_Projects{
	grid-area: 5/1/8/5;
	overflow: hidden;
}

.Film_Writing{
	grid-area: 3/9/5/13;
	overflow: hidden;
}

.Film_Projects{
	grid-area: 5/9/8/13;
	overflow: hidden;
}

.Film_Projects img{
	max-height: 110%;
	max-width: 115%;

}

.Personal_Blog{
	grid-area: 5/5/8/9;
	margin-top: 50px;
	overflow: hidden;
}

.Other_Coding_Projects img{
	max-height: 140%;
	max-width: 110%;
}

.Film_Writing img{
	max-width: 120%;
	max-height: 120%;
}

.Personal_Blog img{
	max-width: 100%;
	max-height: 160%;
}

.Aruki img{
	max-width: 125%;
	max-height: 140%;
}

img{
	max-width: 100%;
	max-height: 100%;
	-webkit-filter: grayscale(1);
  	filter: grayscale(1);
}

img:hover{
	-webkit-filter: grayscale(0);
  	filter: grayscale(0);
}

.Item_title{
	position: absolute;
	color: white;
	text-align: center;
	vertical-align: middle;
	background-color: black;
	bottom: 0;
	line-height: 50px;
	width: 100%;
	height: 50px;
	opacity: 0.7;
	font-size: 25px;
	font-family: 'Poiret One', serif;
}

.highlight{
	grid-area:2/1/8/13;
	background-color: black;
	color: white;
	opacity: 0.6;
	text-align: center;
	vertical-align: middle; 
	display: none;
	overflow: hidden;
}

.blockText img{
	max-height: 120%; 
	max-width: 120%;
	-webkit-filter: grayscale(1);
  	filter: grayscale(1);
}

.description{
	color: white;
}